/* Regular clients */

.section-clients {
  padding: 94px 0px;
}

.title-clients {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.icon-clients-list{
  width: 170px;
  
  &:not(:last-child) {
    margin-right: 30px;
  }
}

.link-clients {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  fill: var(--icon-color);
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  transition-property: border-color, fill;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--cubic);

  &:hover,
  &:focus {
    fill: var(--accent-color);
    border: 1px solid var(--accent-color);
    border-radius: 4px;
  }
}